<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!-- Klijent -->
	<system.serviceModel>
		<client>
			<endpoint name="Konekcija"
                      address="net.tcp://localhost:8001/Server"
                      binding="netTcpBinding"
                      contract="Common.IServer" />
		</client>
	</system.serviceModel>
</configuration>