<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!-- WCF -->
	<system.serviceModel>
		<services>
			<service name="XMLDB.XmlBaza">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8002"/>
					</baseAddresses>
				</host>
				<endpoint address="XmlBaza"
						  binding="netTcpBinding"
						  contract="Common.IXmlDb"/>
			</service>
		</services>
	</system.serviceModel>

	<!-- Putanje za xml baze podataka-->
	<appSettings>
		<add key="ImeDirektorijuma" value="C:/VP_Temp/baze"/>
		<add key="LoadBaza" value="C:/VP_Temp/baze/TBL_LOAD.xml"/>
		<add key="AuditBaza" value="C:/VP_Temp/baze/TBL_AUDIT.xml"/>
	</appSettings>

</configuration>