<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="Service.Server">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8001"/>
					</baseAddresses>
				</host>
				<endpoint address="Server"
						  binding="netTcpBinding"
						  contract="Common.IServer"/>
			</service>
		</services>
	</system.serviceModel>

	<!-- Konfiguracija za vreme -->
	<appSettings>
		<!-- 15 minuta - između dve provere -->
		<add key="proveraSati" value="0"/>
		<add key="proveraMinute" value="15"/>
		<add key="proveraSekunde" value="0"/>

		<!-- 24 sata - podatku se ne pristupa da bi se obrisao -->
		<add key="brisanjeSati" value="24"/>
		<add key="brisanjeMinute" value="0"/>
		<add key="brisanjeSekunde" value="0"/>
	</appSettings>
</configuration>
